<nav class="custom-breadcrumbs" aria-label="breadcrumb">
  <ul>
    {{#each breadcrumbs}}
      <li>
        {{#if url}}
          <a href="{{url}}">{{name}}</a>
        {{else}}
          <span>{{name}}</span>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>