<footer class="site-footer">
	<div class="container">

		<div class="site-footer-nav-panel">

			<svg class="site-footer-decoration" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 21" fill="none" aria-hidden="true">
				<g clip-path="url(#clip0_9101_8327)">
					<path d="M10.8238 20.1864C10.9303 20.2663 11.0381 20.322 11.1597 20.3221C11.0919 20.3221 11.0237 20.3221 10.8882 20.3221C10.8658 20.3221 10.8455 20.271 10.8238 20.1864ZM16.19 0.992035C18.229 0.992124 20.2689 2.17021 21.4243 3.97153C22.5795 5.91138 22.6476 8.54438 21.4243 10.4149C20.8127 11.3848 19.9968 12.147 19.1812 12.909C16.6664 15.4032 14.015 17.7585 11.4322 20.1141L11.3638 20.1834C11.228 20.2526 11.0924 20.2526 10.9566 20.1834C10.8563 20.1323 10.8022 20.0436 10.774 19.9344C10.7899 20.0339 10.8068 20.1203 10.8238 20.1864C10.6923 20.0878 10.5626 19.9524 10.4126 19.8377C7.9658 17.5515 5.51864 15.2646 3.07181 12.909C1.98435 11.8006 0.828508 10.7612 0.284698 9.23715C-0.46294 6.88161 0.284475 4.04069 2.2554 2.44711C3.34291 1.54649 4.70308 1.06137 6.1304 1.06137C8.09501 1.06154 9.9915 2.0946 11.148 3.74789C12.205 2.12483 14.1139 1.05435 16.19 0.992035ZM6.06204 2.37778C4.29493 2.37783 2.59605 3.41726 1.71243 5.07993C0.896807 6.67342 0.964244 8.75192 2.11966 10.2069C2.79935 11.1075 3.61557 11.8696 4.43118 12.6317C6.33423 14.5022 8.3049 16.3041 10.2759 18.1053L10.6158 18.452C10.617 18.4694 10.6746 19.2377 10.7505 19.784C10.7378 19.6259 10.7525 19.4468 10.7525 19.2831C10.5486 15.611 10.2771 11.9386 10.1411 8.33578C10.0874 7.23988 10.1195 6.14438 10.4712 5.11703C10.4542 5.07841 10.4126 5.06656 10.4126 5.01059C9.59706 3.4172 7.89746 2.37796 6.1304 2.37778H6.06204ZM6.06204 4.38754C7.08154 4.38754 8.03349 5.01037 8.50931 5.91098C8.9171 6.74233 8.91647 7.6431 8.57669 8.47446C8.03293 9.583 6.74157 10.2761 5.5181 10.0682C4.36272 9.86024 3.41086 8.82114 3.27493 7.6434C3.13903 6.7428 3.47914 5.77281 4.15872 5.14926C4.70247 4.66429 5.38236 4.38756 6.06204 4.38754ZM16.19 4.94125C14.8987 4.94137 13.9469 5.98044 13.9468 7.22739C14.0148 8.40521 14.9671 9.37588 16.1226 9.44516C17.3458 9.51405 18.3652 8.47429 18.4331 7.22739C18.433 5.98045 17.4133 4.94138 16.19 4.94125ZM6.06204 5.63461C5.38236 5.63465 4.70286 6.18887 4.56693 6.88168C4.36331 7.85158 5.24656 9.02891 6.40189 8.82114C7.01362 8.68257 7.55794 8.12829 7.69388 7.50473C7.76176 6.60408 7.01358 5.63461 6.06204 5.63461Z" fill="#2AE855"></path>
				</g>
				<defs>
					<clipPath id="clip0_9101_8327">
						<rect width="23" height="21" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>

			<div class="site-footer-nav-cols">

				<div class="site-footer-nav-primary">
					<div class="site-footer-col">
						<h4 class="site-footer-col-title">Platform</h4>
						<ul class="site-footer-col-list">
							<li><a class="site-footer-link" href="https://www.brightlocal.com/platform/" data-element-name="footer-navigation" data-element-text="BrightLocal Platform">BrightLocal Platform</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/local-seo-tools/rankings/" data-element-name="footer-navigation" data-element-text="Track Your Local Visibility">Track Your Local Visibility</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/listings-management/" data-element-name="footer-navigation" data-element-text="Manage &amp; Build Your Business Listings">Manage &amp; Build Your Business Listings</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/reputation-manager/" data-element-name="footer-navigation" data-element-text="Grow Your Online Reputation">Grow Your Online Reputation</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/pricing/" data-element-name="footer-navigation" data-element-text="Platform Pricing">Platform Pricing</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/book-a-demo/" data-element-name="footer-navigation" data-element-text="Book a Demo" data-cta-group="book-a-demo">Book a Demo</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/future-platform/" data-element-name="footer-navigation" data-element-text="The Future BrightLocal Platform">The Future BrightLocal Platform</a></li>
						</ul>
					</div>
					<div class="site-footer-col">
						<h4 class="site-footer-col-title">Popular Features</h4>
						<ul class="site-footer-col-list">
							<li><a class="site-footer-link" href="https://www.brightlocal.com/future-platform/#ai-insights" data-element-name="footer-navigation" data-element-text="AI Insights">AI Insights</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/citation-builder/" data-element-name="footer-navigation" data-element-text="Citation Builder">Citation Builder</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/local-seo-tools/rankings/local-search-grid/" data-element-name="footer-navigation" data-element-text="Local Search Grid">Local Search Grid</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/local-seo-tools/rankings/local-rank-tracker/" data-element-name="footer-navigation" data-element-text="Local Rank Tracker">Local Rank Tracker</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/local-seo-tools/auditing/citation-tracker/" data-element-name="footer-navigation" data-element-text="Citation Tracker">Citation Tracker</a></li>
						</ul>
					</div>
				</div>

				<div class="site-footer-nav-secondary">
					<div class="site-footer-col">
						<h4 class="site-footer-col-title">Tailored For You</h4>
						<ul class="site-footer-col-list">
							<li><a class="site-footer-link" href="https://www.brightlocal.com/small-businesses/" data-element-name="footer-navigation" data-element-text="For Local Businesses">For Local Businesses</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/agencies/" data-element-name="footer-navigation" data-element-text="For Agencies &amp; Consultants">For Agencies &amp; Consultants</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/platform/api-solutions/" data-element-name="footer-navigation" data-element-text="For SaaS Platforms" data-cta-group="api">For SaaS Platforms</a></li>
						</ul>
					</div>
					<div class="site-footer-col">
						<h4 class="site-footer-col-title">Solutions</h4>
						<ul class="site-footer-col-list">
							<li><a class="site-footer-link" href="https://www.brightlocal.com/platform" data-element-name="footer-navigation" data-element-text="All-in-One Local Search Platform">All-in-One Local Search Platform</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/citation-builder/" data-element-name="footer-navigation" data-element-text="Build Citations">Build Citations</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/local-seo-services/" data-element-name="footer-navigation" data-element-text="Fully Managed Service" data-cta-group="local-seo-services">Fully Managed Service</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/platform/api-solutions/" data-element-name="footer-navigation" data-element-text="API Solutions" data-cta-group="api">API Solutions</a></li>
						</ul>
					</div>
					<div class="site-footer-col">
						<h4 class="site-footer-col-title">Free Tools</h4>
						<ul class="site-footer-col-list">
							<li><a class="site-footer-link" href="https://www.brightlocal.com/local-search-results-checker/" data-element-name="footer-navigation" data-element-text="Local Search Results Checker">Local Search Results Checker</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/free-local-seo-tools/local-rankflux-2025/" data-element-name="footer-navigation" data-element-text="Rank Fluctuation Monitor">Rank Fluctuation Monitor</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/free-local-seo-tools/google-id-and-review-link-generator/" data-element-name="footer-navigation" data-element-text="Google Review Link and Place ID Generator">Google Review Link and Place ID Generator</a></li>
						</ul>
					</div>
					<div class="site-footer-col">
						<h4 class="site-footer-col-title">The Learning Hub</h4>
						<ul class="site-footer-col-list">
							<li><a class="site-footer-link" href="https://www.brightlocal.com/insights/" data-element-name="footer-navigation" data-element-text="Explore">Explore</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/learn/" data-element-name="footer-navigation" data-element-text="Education">Education</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/resources/" data-element-name="footer-navigation" data-element-text="Resources">Resources</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/blog/" data-element-name="footer-navigation" data-element-text="News">News</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/podcast/" data-element-name="footer-navigation" data-element-text="Podcasts">Podcasts</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/webinars/" data-element-name="footer-navigation" data-element-text="Webinars">Webinars</a></li>
							<li><a class="site-footer-link" href="https://academy.brightlocal.com/" data-element-name="footer-navigation" data-element-text="BrightLocal Academy">BrightLocal Academy</a></li>
						</ul>
					</div>
					<div class="site-footer-col">
						<h4 class="site-footer-col-title">Company</h4>
						<ul class="site-footer-col-list">
							<li><a class="site-footer-link" href="https://www.brightlocal.com/" data-element-name="footer-navigation" data-element-text="Home">Home</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/about-us/" data-element-name="footer-navigation" data-element-text="About us">About us</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/case-studies/" data-element-name="footer-navigation" data-element-text="Case studies">Case studies</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/about-us/how-we-compare" data-element-name="footer-navigation" data-element-text="How we compare">How we compare</a></li>
							<li><a class="site-footer-link" href="https://careers.brightlocal.com/" data-element-name="footer-navigation" data-element-text="Careers">Careers</a></li>
							<li><a class="site-footer-link" href="https://www.brightlocal.com/contact-us/" data-element-name="footer-navigation" data-element-text="Contact us">Contact us</a></li>
						</ul>
					</div>
					<div class="site-footer-col">
						<h4 class="site-footer-col-title">Support</h4>
						<ul class="site-footer-col-list">
							<li><a class="site-footer-link" href="https://www.brightlocal.com/contact-us/" data-element-name="footer-navigation" data-element-text="Contact support">Contact support</a></li>
							<li><a class="site-footer-link" href="https://help.brightlocal.com/hc/en-us" data-element-name="footer-navigation" data-element-text="Help Center">Help Center</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="site-footer-bottom">

			<div class="site-footer-brand">
				<a href="https://www.brightlocal.com/">
					<svg viewBox="0 0 1203.6558 227.32001" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<path fill="#0fd03b" d="m 411.93582,40.43 c 11.55,0 20.48,-8.93 20.48,-19.95 0,-11.02 -8.92,-20.48 -20.48,-20.48 -10.5,0 -19.95,9.45 -19.95,20.48 0,11.03 8.93,19.95 19.95,19.95 z m -16.28,18.9 v 111.83 h 33.08 V 59.33 Z m -174.83,13.65 c 8.4,-10.5 19.95,-15.75 34.13,-15.75 15.75,0 28.35,5.77 38.33,17.85 9.98,11.55 14.7,25.2 14.7,40.43 0,15.23 -5.25,28.88 -15.23,40.43 -10.5,11.55 -23.1,17.85 -38.85,17.85 -14.7,0 -26.25,-5.25 -34.13,-15.75 h -0.53 v 13.65 h -32.03 V 0.53 h 32.55 v 72.45 h 1.05 z m 7.35,63 c 5.25,5.25 12.08,7.88 19.95,7.88 7.87,0 14.7,-2.63 19.95,-7.88 5.25,-5.25 7.88,-12.6 7.88,-21 0,-8.4 -2.63,-15.23 -8.4,-20.48 -5.25,-5.25 -12.08,-7.88 -19.95,-7.88 -7.87,0 -14.18,2.63 -19.43,7.88 -5.25,5.25 -7.87,12.08 -7.87,20.48 -0.53,8.4 2.62,15.23 7.87,21 z m 158.56,-44.62 c -0.18,-0.04 -0.35,-0.07 -0.52,-0.1 V 59.33 c -1.58,-1.05 -3.68,-1.05 -6.3,-1.05 -14.7,0 -26.78,7.88 -31.5,18.38 V 59.33 h -32.55 v 111.83 h 32.55 v -47.25 c 0,-19.95 9.45,-33.08 30.45,-33.08 2.45,0 4.9,0 7.35,0.43 v 0.1 z m 80.32,88.72 c 6.3,12.6 16.28,18.9 29.93,18.9 16.8,0 28.35,-8.93 28.35,-26.25 v -16.8 h -0.53 c -7.88,9.97 -18.38,14.7 -32.03,14.7 -15.75,0 -28.88,-5.25 -38.85,-16.28 -9.98,-10.5 -15.23,-24.15 -15.23,-39.9 0,-14.7 4.73,-28.35 14.7,-39.38 9.98,-11.55 22.58,-17.33 38.33,-17.33 14.18,0 25.2,5.25 34.13,15.23 h 0.53 V 59.32 h 32.03 v 112.35 c 0,17.33 -5.77,30.98 -16.8,40.95 -11.02,9.98 -25.73,14.7 -43.58,14.7 -27.83,0 -46.73,-10.5 -56.7,-32.03 l 25.73,-15.23 z m 31.5,-93.45 c -15.23,0 -27.3,11.55 -27.3,27.3 0,16.8 11.55,27.83 27.3,27.83 15.75,0 27.3,-11.02 27.3,-27.83 0,-15.75 -11.55,-27.3 -27.3,-27.3 z m 143.33,22.58 v 62.48 h 32.03 v -69.83 c 0,-12.6 -3.67,-23.1 -10.5,-31.5 -6.83,-8.93 -16.8,-13.13 -30.45,-13.13 -4.2,0 -9.45,1.05 -15.75,3.15 -5.77,2.1 -10.5,6.3 -14.7,12.08 V 0.53 h -32.55 v 170.63 h 32.55 v -62.48 c 0,-12.08 6.83,-21.53 19.95,-21.53 13.12,0 19.43,9.45 19.43,22.05 z m 117.61,61.42 c -4.72,1.57 -9.97,2.1 -15.23,2.1 -29.4,0 -44.62,-15.75 -44.62,-42 V 87.68 h -19.95 V 59.33 h 20.48 V 24.15 h 32.55 v 35.18 h 27.83 v 28.35 h -27.83 v 38.85 c 0,12.6 6.83,17.85 19.43,17.85 2.63,0 5.25,0 7.35,-1.05 v 27.3 z m 11.54,0.53 h 33.08 V 0.53 h -33.08 z m 60.38,-97.13 c 12.08,-11.55 26.77,-16.8 43.57,-16.8 16.8,0 31.5,5.78 43.05,16.8 11.55,11.02 17.85,24.68 17.85,41.48 0,16.8 -5.77,30.98 -17.85,42 -12.07,11.02 -26.25,16.8 -43.57,16.8 -17.32,0 -31.5,-5.25 -43.58,-16.8 -11.55,-11.03 -17.85,-24.68 -17.85,-41.48 0.52,-16.8 6.3,-30.98 18.37,-42 z m 23.63,61.95 c 5.25,5.25 12.08,7.88 19.95,7.88 15.75,0 27.3,-12.08 27.3,-28.88 0,-8.4 -2.63,-15.23 -7.88,-20.48 -5.25,-5.25 -12.07,-8.4 -19.95,-8.4 -7.88,0 -14.17,2.63 -19.43,8.4 -5.25,5.25 -7.88,12.08 -7.88,20.48 -0.52,8.4 2.63,15.23 7.88,21 z m 85.58,-19.95 c 0,16.8 5.25,30.45 16.8,41.48 11.55,11.02 25.72,16.28 43.04998,16.8 25.2,0 45.68,-12.08 54.08,-34.65 l -28.88,-12.08 c -4.72,11.55 -13.13,16.8 -24.68,16.8 -15.74998,0 -26.76998,-11.55 -26.76998,-28.35 0,-16.8 11.55,-28.35 26.76998,-28.35 11.03,0 19.43,5.78 24.15,16.8 l 28.87,-12.08 c -7.35,-22.05 -27.83,-34.65 -53.02,-34.65 -16.27998,0 -30.96998,5.25 -42.52998,16.8 -12.07,11.03 -17.85,24.68 -17.85,41.48 z m 128.61998,48.3 c -7.35,-6.3 -11.03,-14.18 -11.03,-24.15 v -0.53 c 0,-13.13 6.3,-23.1 16.81,-27.83 10.5,-4.73 21,-6.83 33.07,-6.83 h 11.03 c 5.78,0 8.93,-2.63 8.93,-8.4 0,-7.88 -6.3,-13.65 -17.85,-13.65 -11.55,0 -19.43,5.25 -24.68,15.23 l -25.2,-14.7 c 9.45,-17.85 26.77,-26.78 51.45,-26.78 29.4,0 48.82,15.75 48.82,45.15 v 69.3 h -30.45 v -13.65 h -0.52 c -7.35,10.5 -18.9,16.28 -33.6,16.28 -10.5,-0.53 -19.43,-3.15 -26.78,-9.45 z m 58.81,-36.22 v -2.63 h -19.95 c -9.45,0 -16.8,4.2 -16.8,12.6 0,7.35 5.77,11.55 14.18,11.55 14.17,0 22.57,-9.45 22.57,-21.53 z m 42.52,43.05 h 33.08 V 0.53 h -33.08 z"></path>
						<g transform="translate(-148.17418,-109.33)">
							<path fill="#0fd03b" d="m 188.72,178.12 c 4.13,0 7.49,3.36 7.49,7.49 0,4.13 -3.36,7.49 -7.49,7.49 -4.13,0 -7.49,-3.36 -7.49,-7.49 0,-4.13 3.36,-7.49 7.49,-7.49 m 0,-9.7 c -9.5,0 -17.2,7.7 -17.2,17.2 0,9.5 7.7,17.2 17.2,17.2 9.5,0 17.2,-7.7 17.2,-17.2 0,-9.5 -7.7,-17.2 -17.2,-17.2 z"></path>
							<path fill="#0fd03b" d="m 271.7,148.91 c -18.34,-8.57 -39.14,-2.3 -50.16,13.01 -7.63,-10.58 -19.89,-16.88 -32.83,-16.88 -5.58,0 -11.27,1.16 -16.76,3.63 -17.25,7.78 -26.94,27.21 -22.84,45.68 1.77,7.99 5.73,14.7 10.97,19.93 L 216.7,271 c 2.69,2.69 7.05,2.69 9.74,0 l 56.62,-56.72 c 5.88,-5.86 10.14,-13.59 11.52,-22.89 2.59,-17.46 -6.89,-35.02 -22.88,-42.49 z m -104.76,58.5 c -3.25,-3.24 -5.67,-7.02 -7.21,-11.25 -2.82,-7.74 -2.45,-16.12 1.03,-23.59 3.48,-7.47 9.67,-13.13 17.41,-15.95 3.41,-1.24 6.96,-1.87 10.55,-1.87 11.75,0 22.38,6.79 27.55,17.14 -2.06,5.72 -2.71,11.6 -2.21,17.28 l 6.21,71.66 z m 101.9,-19.59 c -1.68,10.31 -13,15.59 -21.99,10.25 -4.99,-2.97 -7.78,-8.94 -6.84,-14.67 1.68,-10.31 13.01,-15.59 21.99,-10.25 4.99,2.97 7.78,8.95 6.84,14.67 z"></path>
						</g>
					</svg>
					<span class="sr-only">BrightLocal</span>
				</a>
			</div>

			<div class="site-footer-meta">

				<div class="site-footer-legal">
					<a href="https://www.brightlocal.com/privacy-policy/" data-element-name="footer-navigation" data-element-text="Privacy Policy">Privacy Policy</a>
					<a href="https://www.brightlocal.com/terms-and-conditions/" data-element-name="footer-navigation" data-element-text="Terms &amp; Conditions">Terms &amp; Conditions</a>
					<a href="https://www.brightlocal.com/cookies/" data-element-name="footer-navigation" data-element-text="Cookie Policy">Cookie Policy</a>
					<a href="https://www.brightlocal.com/sitemap" data-element-name="footer-navigation" data-element-text="Sitemap">Sitemap</a>
				</div>

				<div class="site-footer-copyright">
					<span>© 2026 BrightLocal Ltd. All rights reserved. BrightLocal® is a registered trademark in the USA, EU and UK.</span>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="{{asset 'priority-nav.min.js'}}"></script>
<script>
	var wrapper = document.querySelector(".nav-wrapperer");
</script>
